# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.eggs/

# Env / secrets
.env
.env.*
*.key
*.pem
*.p12
*.pfx
id_rsa
id_ed25519
id_ecdsa
*.secret


# IDEs / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Jupyter
.ipynb_checkpoints/
